@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: #ebebeb;
  color: #212b35;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-family: "Montserrat", sans-serif;
}

input,
textarea {
  background-color: #ebebeb;
  border: none;
}

button:focus,
input:focus,
textarea:focus {
  border: none;
  outline: none;
}

.side-bar {
  position: fixed;
  right: 0;
  z-index: 100;
  background-color: #212b35;
  border-left: 5px solid #455b6e;
  height: 70px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ebebeb;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 22px;
}

.side-bar i {
  font-size: 30px;
  padding: 10px;
}

.side-bar a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar:hover {
  width: 90px;
  background-color: #758491;
  color: #ebebeb;
}

.get-github {
  top: 100px;
}

.get-resume {
  top: 180px;
}

nav {
  position: fixed;
  top: 0;
  background-color: #212b35;
  width: 100vw;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-shadow: 0 1px 7px -2px #ebebeb;
          box-shadow: 0 1px 7px -2px #ebebeb;
  color: #bec2c5;
}

#hamburger,
.nav-mobile {
  display: none;
}

.nav-logo {
  font-size: 25px;
  padding: 0 30px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.nav-ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  padding-right: 35px;
}

.nav-item {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  margin-left: 20px;
  font-size: 20px;
}

.nav-item a {
  padding: 15px 20px;
  position: relative;
  -webkit-transition: 0s;
  transition: 0s;
}

.nav-item a:after {
  bottom: 5px;
  content: "";
  display: block;
  height: 2px;
  left: 60%;
  position: absolute;
  background: #bbc2ca;
  -webkit-transition: width 0.7s ease 0s, left 0.3s ease 0s;
  transition: width 0.7s ease 0s, left 0.3s ease 0s;
  width: 0;
  cursor: pointer;
}

.nav-item a:hover:after {
  width: 57%;
  left: 20%;
}

.nav-item a:hover {
  color: #ffffff;
  font-weight: 600;
}

.section {
  padding: 5% 12.5%;
  width: 75%;
}

.section-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 55px;
}

.section-welcome {
  margin-top: 0px;
  height: 100vh;
  color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px -200px 100px -90px #ebebeb;
          box-shadow: inset 0px -200px 100px -90px #ebebeb;
}

.welcome-bg,
.footer-bg {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.welcome-bg img,
.footer-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.welcome-bg video,
.footer-bg video {
  opacity: 0.5;
}

#particles-js {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 100vh;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
}

.welcome-msg p {
  width: 100%;
  font-size: 35px;
  margin: 10px;
}

.welcome-msg .p-bigger {
  font-size: 40px;
  text-align: center;
}

.welcome-msg p:last-of-type {
  text-align: end;
}

.welcome-msg,
.welcome-project {
  font-size: 25px;
}

.welcome-project p {
  padding: 50px;
  position: relative;
  -webkit-animation: redirectArrow 3s;
          animation: redirectArrow 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  cursor: pointer;
}

@-webkit-keyframes redirectArrow {
  0% {
    top: 0;
  }
  50% {
    top: 40px;
  }
  100% {
    top: 0;
  }
}

@keyframes redirectArrow {
  0% {
    top: 0;
  }
  50% {
    top: 40px;
  }
  100% {
    top: 0;
  }
}

.welcome-project {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-project p {
  text-align: center;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project {
  width: 100%;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
  position: relative;
  border-bottom: 3px solid #455b6e;
}

.project:first-of-type {
  padding-top: 0;
}

.project-img {
  width: 50%;
  height: 100%;
}

.project-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-info {
  width: 40%;
  height: 100%;
  padding: 20px 5%;
}

.project-header {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  height: 25%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-desc {
  height: 60%;
  text-align: justify;
}

.project-buttons {
  height: 21%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px;
}

.project-buttons button {
  background-color: #212b35;
  color: #ebebeb;
  padding: 0px 40px;
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 2px solid #212b35;
}

.project-buttons button i {
  font-size: 22px;
}

.project-buttons button:hover {
  color: #212b35;
  background-color: #758491;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-container .about-desc {
  width: 45%;
  background-color: red;
}

.about-container .about-img {
  width: 55%;
}

.section-contact {
  color: #ebebeb;
  -webkit-box-shadow: inset 0px 235px 40px -90px #ebebeb;
          box-shadow: inset 0px 235px 40px -90px #ebebeb;
  padding-top: 100px;
  padding-bottom: 50px;
}

.section-contact .section-header {
  margin-top: 90px;
  padding-top: 60px;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-desc {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 50px;
}

.contact-desc .contact-info {
  padding: 25px 0;
  width: 100%;
}

.contact-desc .contact-info i {
  padding-right: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact-desc .contact-info:last-of-type {
  padding-top: 10px;
}

.contact-desc .contact-info-header {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.contact-desc .contact-info-links {
  font-size: 60px;
}

.contact-desc .contact-info-links i:hover {
  color: #bec2c5;
  cursor: pointer;
}

.contact-form {
  height: auto;
  width: 60%;
  max-width: 700px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
}

.contact-form .email {
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  color: #ebebeb;
}

.contact-form .email:hover {
  color: #758491;
}

.contact-form form {
  width: 100%;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form form button {
  margin-top: 30px;
  padding: 15px 60px;
  background-color: #212b35;
  color: #ebebeb;
  font-size: 17px;
  border: 1px solid #212b35;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact-form form button:hover {
  background-color: #455b6e;
  border: 1px solid #bec2c5;
}

.footer-bg {
  height: 1000px;
}

.contact-input {
  width: 100%;
  min-height: 70px;
}

.contact-input label {
  display: block;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.contact-input input {
  height: 35px;
}

.contact-input input,
.contact-input textarea {
  width: 100%;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-input textarea {
  padding: 10px 10px;
  resize: none;
  height: 200px;
}

footer {
  height: 150px;
  text-align: center;
  background-color: #212b35;
  -webkit-box-shadow: 0px 0px 40px 40px #212b35;
          box-shadow: 0px 0px 40px 40px #212b35;
  color: #bec2c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bg {
  left: 0;
  position: absolute;
  z-index: -1;
}

@media (max-width: 1560px) {
  .project-desc {
    font-size: 19px;
  }
}

@media (max-width: 1320px) {
  .project-desc {
    font-size: 16px;
  }
  .project-buttons button {
    padding: 0 20px;
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  body {
    font-size: 19px;
  }
  #hamburger {
    display: block;
    width: 70px;
    top: 10px;
    right: 20px;
    position: absolute;
    background-color: transparent;
  }
  #hamburger i {
    pointer-events: none;
    font-size: 40px;
    color: #bec2c5;
  }
  .nav {
    z-index: 1000;
  }
  .nav-ul {
    display: none;
    z-index: 1000;
  }
  .nav-mobile {
    display: block;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: #334857;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-top: -300px;
  }
  .nav-ul-mobile {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    padding-top: 60px;
    list-style: none;
    color: #ebebeb;
    border-bottom: 5px solid #bec2c5;
  }
  .nav-item-mobile {
    font-size: 20px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #bec2c5;
  }
  .nav-item-mobile a {
    padding: 20px 50%;
  }
  .nav-item-mobile:hover {
    background-color: #758491;
  }
  .show-nav {
    /* show the menu */
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .side-bar {
    width: 50px;
    height: 50px;
    font-size: 17px;
    z-index: 10;
  }
  .side-bar i {
    font-size: 27px;
  }
  .get-resume {
    top: 160px;
  }
  .side-bar:hover {
    width: 60px;
  }
  .welcome-msg {
    width: 80%;
  }
  .welcome-msg p {
    font-size: 23px;
    margin: 20px 0;
  }
  .welcome-msg .p-bigger {
    font-size: 31px;
  }
  .section {
    width: 80%;
    padding: 50px 10%;
  }
  .section-header {
    margin-bottom: 10px;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 550px;
    padding: 10px 0;
  }
  .project .project-img {
    width: 100%;
  }
  .project .project-img img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .project .project-header {
    font-size: 21px;
    padding-bottom: 5px;
  }
  .project .project-info {
    width: 100%;
    padding-top: 0;
  }
  .project .project-buttons button {
    padding: 0 20px;
    font-size: 15px;
  }
  .skills-container,
  .about-container,
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills-row {
    height: auto;
  }
  .skills-desc,
  .skills,
  .learning,
  .about-desc,
  .about-img,
  .contact-form,
  .contact-desc {
    width: 100%;
    padding: 0;
  }
  .skills-desc img,
  .skills img,
  .learning img,
  .about-desc img,
  .about-img img,
  .contact-form img,
  .contact-desc img {
    height: 40px;
  }
  .skills {
    padding-top: 50px;
  }
  .skill-text {
    display: none;
  }
  .skill-learning p {
    font-size: 15px;
  }
  .skill-learning .skill-icon {
    width: 135px;
  }
  .about-img .img {
    padding-top: 50px;
    width: 200px;
    height: 200px;
  }
  .about-img .img img,
  .about-img .img div {
    width: 100%;
    height: 100%;
  }
  .footer-bg {
    height: 1200px;
  }
  .contact-form form {
    height: auto;
  }
  .contact-form form button {
    padding: 15px 30px;
  }
  .contact-input input,
  .contact-input textarea {
    font-size: 15px;
  }
  .contact-input input {
    height: 30px;
  }
  .contact-input textarea {
    height: 100px;
  }
  .contact-info {
    text-align: center;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 19px;
  }
  .section {
    width: 80%;
    padding: 7% 10%;
  }
  .section-contact {
    width: 80%;
  }
  .projects-container {
    padding-bottom: 100px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 16px;
  }
  .section {
    width: 85%;
    padding: 7.5%;
  }
  .section p {
    text-align: center;
  }
  .section-header {
    font-size: 30px;
  }
  .section-contact {
    width: 85%;
  }
  .project-desc,
  .project-buttons {
    padding: 0 5%;
  }
  .skill-learning {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .skill-learning p {
    text-align: end;
  }
  .skills-desc p:last-of-type,
  .about-desc p:last-of-type {
    display: none;
  }
}
